* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

.layer {
  height: 100%;
  width: 100%;
  color: rgb(245, 245, 245);
  margin-right: 0;
  margin-top: 0;
  position: absolute;
}

.item {
  color: black;
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.color {
  font-weight: 300;
  font-style: italic;
  margin-left: 2rem;
}

.price {
  font-weight: 600 bold;
  margin-left: 2rem;
}

.image {
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}

.bar {
  color: black;
  float: right;
  margin-right: 2rem;
  margin-bottom: 3rem;
  opacity: 0.5;
}

.link {
  margin: 1rem;
  cursor: pointer;
  font-size: 18px;
}

.product {
  margin-left: 2rem;
}

.category {
  color: black;
  font-style: bold;
  margin-top: 2rem;
  left: 2rem;
  position: relative;
  padding: 0.5rem;
}

.group {
  margin: 0.5rem;
}

.item-details {
  position: relative;
  float: right;
  margin-top: 5rem;
  width: 65%;
  margin-right: 7rem;
  z-index: 1;
}

.select {
  cursor: pointer;
  height: 60px;
  width: 120px;
  border-radius: 35px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
  z-index: 100;
  background-color: rgb(220, 220, 220);
  color: rgb(128, 128, 128);
  font-family: 'Montserrat';
  outline: 0;
}

.itemDetails {
  color: black;
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.more {
  color: black;
  padding: 1rem;
  z-index: 1;
  margin-left: 3rem;
  height: 100%;
  width: 100%;
}

.content {
  float: left;
  width: 40%;
  z-index: 1;
  position: relative;
  height: 100%;
}

.addCart {
  position: relative;
  cursor: pointer;
  height: 130px;
  width: 280px;
  border-radius: 55px;
  text-align: center;
  font-size: 46px;
  font-weight: 200;
  z-index: 100;
  background-color: rgb(220, 220, 220);
  color: rgb(128, 128, 128);
  font-family: 'Montserrat';
  outline: 0;
  bottom: 0;
  margin-bottom: 160rem;
  top: 0 auto;
  margin-left: 3rem;
}

.itemImage {
  margin-bottom: 0.5rem;
  position: relative;
}

.title {
  width: 40%;
  height: 100%;
  float: left;
}

.features {
  color: black;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.size {
  font-style: italic;
  font-size: 1rem;
  margin-left: 3.5rem;
  padding: 1rem;
  color: black;
  height: 3rem;
  width: 4rem;
}

.itemPrice {
  margin-top: 10rem;
  font-weight: 600 bold;
  font-size: 2rem;
  margin-left: 2rem;
  color: rgb(128, 128, 128);
  padding: 1rem;
}

.itemColor {
  font-weight: 600 bold;
  margin-left: 2rem;
  padding: 1rem;
  font-size: 40px;
}
